{% extends 'base.html.twig' %}
{% block body %}
	<h2>Sélectionner un service -
		{{ type|capitalize }}</h2>

	<div class="row">
		{% for service in services %}
			<div class="col-md-4">
				<div class="card mb-3">
					<div class="card-body">
						<h5 class="card-title">{{ service.nom }}</h5>
						<a href="{{ path('division_validation', { type: type, id: service.id }) }}" class="btn btn-success">Voir les primes</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
